[user]
        email = nicolaseacquaviva@gmail.com
        name = Nicolas Acquaviva
[alias]
        st = status
        co = checkout
        b = branch
        logs = log --stat
        ; %gd stash id
        ; %cr git stash list --date=relative
        ; %cd git stash list --date=local
        ; %s message
        sl = stash list --pretty=format:\"%gd%  - (%cr) - %cd - %s\"
        rcontinue = rebase --continue
        rabort = rebase --abort
[core]
        editor = /usr/local/bin/nvim
